<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .item {
            margin-right: 20px;
        }
        .item:last-child {
            margin-right: 0;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
</head>
<body class="m-0 p-0 container-fluid">
<%- include('../inc/header') %>

<div class="ml-3" style="margin-left: 10%;margin-top: 3%">
    <p class="text-lg-start "><%=msg %></p>
    <div class="d-flex position-relative " style="top: -10%;right:-70%">
        <div class="item"> <div class="dropdown position-relative" >
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Lọc theo
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                    <li><a id="today" class="dropdown-item custom-link" onclick="getCurrentUrl('today')">Hôm nay</a></li>
                    <li><a id="week" class="dropdown-item custom-link" onclick="getCurrentUrl('week')">Tuần này</a></li>
                    <li><a id="month" class="dropdown-item custom-link" onclick="getCurrentUrl('month')">Tháng này</a></li>
                    <li><a id="custom" class="dropdown-item custom-link" onclick="getCurrentUrl('custom')">Năm nay</a></li>
                </ul>
            </div></div>
        <div class="item"> <div class="dropdown position-relative" >
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Hiển thị biểu đồ theo
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                    <li><a class="dropdown-item" id="Doanhthu" onclick="getCurrentUrl('Doanhthu')">Doanh Thu</a></li>
                    <li><a class="dropdown-item"  id="SP" onclick="getCurrentUrl('SP')">Sản Phẩm bán ra</a></li>
                </ul>
            </div></div>
    </div>

    <div class="col-6"style="margin-top: 8%">
        <canvas id="myChart"></canvas>
    </div>

</div>


<%- include('../inc/footer') %>
</body>

<script>
  const monthdate='<%=monthdate%>';
  const monthdateArray = monthdate.split(',');
  let chartdate=[];
        monthdateArray.forEach(function(date) {
            chartdate.push(date);
        });



    document.addEventListener("DOMContentLoaded", function() {
        new Chart(document.getElementById("myChart"), {
            type: "line",
            data: {
                labels: chartdate,
                datasets: [{
                    label: "<%= label %>",
                    fill: true,
                    backgroundColor: "transparent",
                    borderColor: window.theme.primary,
                    data:<%= JSON.stringify(listdata) %>
                },]
            },
            options: {
                scales: {
                    xAxes: [{
                        reverse: true,
                        gridLines: {
                            color: "rgba(0,0,0,0.05)"
                        }
                    }],
                    yAxes: [{
                        borderDash: [5, 5],
                        gridLines: {
                            color: "rgba(0,0,0,0)",
                            fontColor: "#fff"
                        }
                    }]
                }
            }
        });
    });

</script>
<script>
    function getTimeParameterFromUrl(link) {
        const url = new URL(link);
        const searchParams = new URLSearchParams(url.search);
        const timeParameter = searchParams.get('time');
        return `&time=${timeParameter}`;
    }


    function getCurrentUrl(linkId) {
        var currentUrl = window.location.href;
        if (linkId === "today") {
            const modifiedUrl = currentUrl.split('&')[0];
            window.location.href = modifiedUrl+"&time=today";
        } else if (linkId === "week") {
            const modifiedUrl = currentUrl.split('&')[0];
            window.location.href = modifiedUrl+"&time=week";
        } else if (linkId === "month") {
            const modifiedUrl = currentUrl.split('&')[0];
            window.location.href = modifiedUrl+"&time=month";
        } else if (linkId === "custom") {
            const modifiedUrl = currentUrl.split('&')[0];
            window.location.href = modifiedUrl+"&time=all";
        }
        else if (linkId === "Doanhthu") {
            const timeParameter = getTimeParameterFromUrl(currentUrl);
            window.location.href = "http://localhost:3000/Statistics?Tl=Doanhthu"+timeParameter;
        }
        else if (linkId === "SP") {
            const timeParameter = getTimeParameterFromUrl(currentUrl);
            window.location.href = "http://localhost:3000/Statistics?Tl=SP"+timeParameter;
        }
        else {
        }
    }
</script>
<link rel="stylesheet" href="https://unpkg.com/@adminkit/core@latest/dist/css/app.css">
<script src="https://unpkg.com/@adminkit/core@latest/dist/js/app.js"></script>
<link rel="stylesheet" href="./style.css">